<body>
  <main>
    <!--Products-->
    <section class="products">
      <div class="container">
        <p class="products__description">100% natural</p>
        <h2 class="products__title">products</h2>

        <!--Картки з продукцією-->
        <ul class="products__card cards-set list">
          <li class="products__item products__item-c1 cards-set__item link">
            <div class="products-wrapper">
              <h3 class="products-wrapper__title">ice cream</h3>
              <p class="products-wrapper__description">
                Soft ice cream with a delicate taste. Made with milk, cream,
                sugar and natural stabilizer
              </p>
              <svg class="arrow" width="40" height="16">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </div>
          </li>

          <li class="products__item products__item-c2 cards-set__item link">
            <div class="products-wrapper">
              <h3 class="products-wrapper__title">ice coffee</h3>
              <p class="products-wrapper__description">
                Fragrant invigorating drink created f rom 100% natural
                ingredients without the use of preservatives and flavor
                enhancers
              </p>
            </div>
            <svg class="arrow" width="40" height="16">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </li>

          <li class="products__item products__item-c3 cards-set__itemlink">
            <div class="products-wrapper">
              <h3 class="products-wrapper__title">milkshakes</h3>
              <p class="products-wrapper__description">
                Sweet drinks based on milk and ice cream, supplemented with
                syrups, fruits, berries and other sweets of your choice
              </p>
            </div>
            <svg class="arrow" width="40" height="16">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>
