$classic-white: #ffffff;
$classic-black: #000000;
$bgc-primary-color: #84a178;
$hero-background-color: #84a278;
$brand-primary-color: #f8d24e;
$text-and-modal-white: #fcfcfc;
$text-primary-black: #131313;
$text-secondary-grey: #ababab;
$text-address-color: #d6936d;
$card-green-color: #aec6a5;
$card-yellow-color: #efd478;
$card-brown-color: #d6936d;
$ingredients-green-color: #9cbe8f;
$btn-hover-green: #0a8817;
$btn-disabled-grey: #ababab;
$action-total-time: 250ms;
$action-cubic-time: cubic-bezier(0.4, 0, 0.2, 1);
