.franchise {
  padding: 28px;

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }
}

.franchise > .modal-label {
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    max-width: 322px;
    margin: 0 auto 24px;
  }
}
