.modal.ingredients {
  /*  Побочные стили   */
  max-width: 440px;
  padding: 28px 20px;
  top: 10vh;
  @media screen and (min-width: 768px) {
    top: 70vh;
    max-width: 568px;
    padding: 32px 40px;
  }
}
/* Стили для кнопки закрытия */

.modal-ingr__cross {
  position: absolute;
  top: 12px;
  right: 12px;
  fill: #444;
  cursor: $pointer;
}

.modal-ingr__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  color: #131313;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}
.modal-ingr__thumb {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 22px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}
.modal-ingr__img {
  position: absolute;
  transform: translateY(-7px);
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}
.modal-ingr__list {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 20px;
    margin-bottom: 48px;
  }
}
.modal-ingr__rectangle {
  // position: relative;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
}
.modal-ingr__box {
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -1px;
  margin-bottom: 6px;
  background-color: #9cbe8f;
  border-radius: 50%;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
  }
}
.modal-ingr__value {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  // border: 2px solid #9cbe8f;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 2.33;
  }
}
.modal-ingr__description {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  align-items: center;
  text-align: center;
  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.25;
  }
}
.modal-ingr__ingredients-title {
  margin-bottom: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
}
.modal-ingr__ingredients-list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 11px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}
.modal-ingr__ingredients-item {
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;

  color: #131313;
}
.modal-ingr__ingredients {
  margin-right: auto;
}
.modal-ingr__form {
  display: flex;
  flex-direction: column;
  // gap: 16px;
}
.modal-ingr__label {
  margin-bottom: 16px;
}
.modal-ingr__input {
  padding: 11px 16px;
  width: calc(100vw - 80px);
  max-width: 240px;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  @media screen and (min-width: 480px) {
    width: 368px;
  }
}
.modal-ingr__input:not(:placeholder-shown):required:valid {
  outline-color: green;
}

.modal-ingr__input:not(:placeholder-shown):required:invalid {
  outline-color: red;
}
.modal-ingr__label-textarea {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.modal-ingr__textarea {
  padding: 11px 16px;
  width: calc(100vw - 80px);
  max-width: 240px;
  height: 84px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  @media screen and (min-width: 480px) {
    width: 368px;
  }
}
textarea {
  resize: none;
}
input::placeholder,
textarea::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
}
.modal-ingr__btn {
  width: 121px;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #131313;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
