<!-- Read more -->
<div class="modal read-more" data-modal="3">
  <svg
    class="modal__cross js-modal-close"
    width="20"
    height="20"
    viewBox="0 0 24 24"
  >
    <use href="./images/icons.svg#icon-close-smaller"></use>
  </svg>
  <strong class="modal-label">How it’s made?</strong>
  <iframe
    class="modal-video"
    src="https://www.youtube.com/embed/8WEMZ86Eho8"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="modal__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
