<!-- Элементы для вызова модальных окон, могут быть любые -->

<a href="#" class="btn js-open-modal" data-modal="1">Открыть окно 1</a>

<!-- Несколько модальных окон -->

<div class="modal" data-modal="1">
  <!--   Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <p class="modal__title">Chocolate icecream</p>
  <div class="modal__thumb">
    <img
      class="modal__img"
      srcset="
        ./images/modal/ellipse_67@1x.jpg 1x,
        ./images/modal/ellipse_67@2x.jpg 2x
      "
      src="/src/images/modal/ellipse_67@1x.jpg"
      alt=""
      width="132"
    />
  </div>
  <ul class="modal__list">
    <li class="modal__item">
      <div class="modal__rectangle">
        <div class="modal__box"><p class="modal__value">320</p></div>
        <p class="modal__description">kcal</p>
      </div>
    </li>
    <li class="modal__item">
      <div class="modal__rectangle">
        <div class="modal__box"><p class="modal__value">4g</p></div>
        <p class="modal__description">Protein</p>
      </div>
    </li>
    <li class="modal__item">
      <div class="modal__rectangle">
        <div class="modal__box"><p class="modal__value">8,2g</p></div>
        <p class="modal__description">Fats</p>
      </div>
    </li>
    <li class="modal__item">
      <div class="modal__rectangle">
        <div class="modal__box"><p class="modal__value">40,4g</p></div>
        <p class="modal__description">Carb</p>
      </div>
    </li>
  </ul>
  <p class="modal__ingredients-title">Ingredients</p>
  <ul class="modal__ingredients-list">
    <li class="modal__ingredients-item">
      <span class="modal__ingredients">Milk</span>100ml
    </li>
    <li class="modal__ingredients-item">
      <span class="modal__ingredients">Belgian chocolate</span>20g
    </li>
    <li class="modal__ingredients-item">
      <span class="modal__ingredients">Cream</span>150 ml
    </li>
    <li class="modal__ingredients-item">
      <span class="modal__ingredients">Cocoa powder</span> 30g
    </li>
    <li class="modal__ingredients-item">
      <span class="modal__ingredients">Sugar</span>40g
    </li>
    <li class="modal__ingredients-item">
      <span class="modal__ingredients">Vanilla sugar</span>10g
    </li>
  </ul>
  <form class="modal__form">
    <label class="modal__label"
      ><input
        class="modal__input"
        type="text"
        placeholder="Name"
        required
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
        title="Username must be two words separated by space."
    /></label>
    <label class="modal__label"
      ><input
        class="modal__input"
        type="tel"
        placeholder="Phone"
        required
        pattern="\+?[0-9\s\-\(\)]+"
        minlength="13"
        maxlength="13"
        title="Phone number must be thirteen symbols."
    /></label>
    <label class="modal__label-textarea">
      <textarea
        class="modal__textarea"
        rows="3"
        placeholder="Comment"
      ></textarea>
    </label>
    <button class="modal__btn" type="submit">Submit</button>
  </form>
</div>

<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>
