<!-- Read more -->
<div class="modal read-more" data-modal="3">
    <svg
      class="modal__cross js-modal-close"
      width="20"
      height="20"
      viewBox="0 0 24 24"
    >
      <use href="./images/icons.svg#icon-close-smaller"></use>
    </svg>
    <strong class="modal-label">How it’s made?</strong>
    <div class="video-file">
      <svg
        class="play-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 36 36"
      >
        <path
          d="M32.16 16.08 8.94 4.47A2.07 2.07 0 0 0 6 6.32v23.21a2.06 2.06 0 0 0 3 1.85l23.16-11.61a2.07 2.07 0 0 0 0-3.7v.01Z"
        />
      </svg>
    </div>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
