<section class="hero">
  <div class="hero__container container">
    <div class="hero__thumb">
      <div class="hero__left-side">
        <h1 class="hero__title">
          ice cream made with
          <span class="hero__title--bid-sitze">passion</span>
        </h1>
        <ul class="btn-link">
          <li class="btn-link__item">
            <a class="btn-link__products" href="#section-products">Products</a>
          </li>
          <li class="btn-link__item">
            <a class="btn-link__about" href="#section-about">How it’s made?</a>
          </li>
        </ul>
      </div>
      <ul class="places">
        <li class="places__item">
          <p class="places__amount">16</p>
          <p class="places__name">cafes</p>
        </li>
        <li class="places__item">
          <p class="places__amount">23</p>
          <p class="places__name">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero-group">
      <p class="hero-group__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <svg class="hero-group__svg" width="40" height="16" aria-label="arrow">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </div>
  </div>
</section>
