<section class="hero">
  <div class="hero__container container">
    <div class="hero__thumb">
      <div class="hero__left-side">
        <h1 class="hero__title">
          ice cream made with
          <span class="hero__title--big-sitze">passion</span>
        </h1>
        <ul class="btn-link">
          <li class="btn-link__item">
            <a class="btn-link__products" href="#section-products">Products</a>
          </li>
          <li class="btn-link__item">
            <a class="btn-link__about" href="#section-about">How it’s made?</a>
          </li>
        </ul>
      </div>
      <ul class="places">
        <li class="places__item">
          <p class="places__amount">16</p>
          <p class="places__name">cafes</p>
        </li>
        <li class="places__item">
          <p class="places__amount">23</p>
          <p class="places__name">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero-group">
      <p class="hero-group__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <svg class="hero-group__svg" width="40" height="16" aria-label="arrow">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </div>
    <img
      class="hero__img-main"
      srcset="
        ./images/hero/big-ice_mob@1x.png  177w,
        ./images/hero/big-ice_mob@2x.png  354w,
        ./images/hero/big-ice_tab@1x.png  268w,
        ./images/hero/big-ice_tab@2x.png  536w,
        ./images/hero/big-ice_desk@1x.png 456w,
        ./images/hero/big-ice_desk@2x.png 912w
      "
      sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (max-width: 767px) 177px"
      src="./images/hero/big-ice_mob@1x.png"
      alt="big ice cream"
      loading="lazy"
    />
    <img
      class="hero__img-secondary"
      srcset="
        ./images/hero/more-ice-cream_tab@1x.png  152w,
        ./images/hero/more-ice-cream_tab@2x.png  304w,
        ./images/hero/more-ice-cream_desk@1x.png 225w,
        ./images/hero/more-ice-cream_desk@2x.png 450w
      "
      sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px"
      src="./images/hero/more-ice-cream_tab@1x.png"
      alt="more ice cream"
      loading="lazy"
    />
  </div>
</section>
