<!--Products-->
<section class="products" id="section-products">
  <div class="container">
    <p class="products__description">100% natural</p>
    <h2 class="products__title">products</h2>

    <!--Картки з продукцією-->
    <ul class="products__card cards-set">
      <li class="products__item products__item-c1 cards-set__item">
        <div class="products-wrapper">
          <div class="products__thumb products__thumb-color1">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/products/kelsey-curtis_302.jpg 1x,
                  ./images/products/kelsey-curtis_604.jpg 2x
                "
              />
              <!-- tablet and phone screen -->

              <source
                media="(max-width: 1199px)"
                srcset="
                  ./images/products/kelsey-curtis_200.jpg 1x,
                  ./images/products/kelsey-curtis_400.jpg 2x
                "
              />
              <img
                class="products__img"
                src="./images/products/kelsey-curtis_302.jpg"
                alt="Морозиво"
                loading="lazy"
              />
            </picture>
          </div>
          <h3 class="products-wrapper__title">ice cream</h3>

          <p class="products-wrapper__description">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>

          <button class="products__button" type="button" data-modal="2">
            <svg class="arrow" width="40" height="16">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__item products__item-c2 cards-set__item">
        <div class="products-wrapper">
          <div class="products__thumb products__thumb-color2">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/products/pariwat-pannium_302.jpg 1x,
                  ./images/products/pariwat-pannium_604.jpg 2x
                "
              />
              <!-- tablet and phone screen -->

              <source
                media="(max-width: 1199px)"
                srcset="
                  ./images/products/pariwat-pannium_200.jpg 1x,
                  ./images/products/pariwat-pannium_400.jpg 2x
                "
              />
              <img
                class="products__img"
                src="./images/products/pariwat-pannium_302.jpg"
                alt="Кава"
                loading="lazy"
              />
            </picture>
          </div>
          <h3 class="products-wrapper__title">ice coffee</h3>
          <p class="products-wrapper__description">
            Fragrant invigorating drink created f rom 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button class="products__button" type="button" data-modal="2">
          <svg class="arrow" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products__item products__item-c3 cards-set__item">
        <div class="products-wrapper">
          <div class="products__thumb products__thumb-color3">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/products/victor-rutka_302.jpg 1x,
                  ./images/products/victor-rutka_604.jpg 2x
                "
              />
              <!-- tablet and phone screen -->

              <source
                media="(max-width: 1199px)"
                srcset="
                  ./images/products/victor-rutka_200.jpg 1x,
                  ./images/products/victor-rutka_400.jpg 2x
                "
              />
              <img
                class="products__img"
                src="./images/products/victor-rutka_302.jpg"
                alt="Мілкшейк"
                loading="lazy"
              />
            </picture>
          </div>
          <h3 class="products-wrapper__title">milkshakes</h3>
          <p class="products-wrapper__description">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button class="products__button" type="button" data-modal="2">
          <svg class="arrow" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
