<section class="advantages">
  <div class="advantages__container container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <span class="advantages__number">721</span>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__number">16kg</span>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__number">84</span>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
