<!--Gallery Section-->
<section class="gallery">
  <div class="gallery__container container">
    <h2 class="visually-hidden">Gallery</h2>
    <img
      class="gallery-animation-3"
      srcset="
        ./images/gallery/gallery-animation/gallery-animation-3-@1x.jpg 1x,
        ./images/gallery/gallery-animation/gallery-animation-3-@2x.jpg 2x
      "
      src="./images/gallery/gallery-animation/gallery-animation-3-@1x.jpg"
      alt="ice cream"
      width="280"
      height="130"
      loading="lazy"
    />
    <img
      class="gallery-animation-2"
      srcset="
        ./images/gallery/gallery-animation/gallery-animation-2-@1x.jpg 1x,
        ./images/gallery/gallery-animation/gallery-animation-2-@2x.jpg 2x
      "
      src="./images/gallery/gallery-animation/gallery-animation-2-@1x.jpg"
      alt="ice cream"
      width="280"
      height="130"
      loading="lazy"
    />
    <img
      class="gallery-animation-1"
      srcset="
        ./images/gallery/gallery-animation/gallery-animation-1-@1x.jpg 1x,
        ./images/gallery/gallery-animation/gallery-animation-1-@2x.jpg 2x
      "
      src="./images/gallery/gallery-animation/gallery-animation-1-@1x.jpg"
      alt="ice cream"
      width="280"
      height="130"
      loading="lazy"
    />
  </div>
</section>
