    
 <!--Gallery Section-->
 <section class="gallery">
    <div class=" container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="gallery__img">
         <img
            srcset="
              ./images/gallery/gallery_desktop_1013.jpg    1013w,
              ./images/gallery/gallery_tablet_704.jpg     704w,
              ./images/gallery/gallery_mob_280.jpg     280w,
              ./images/gallery/gallery_desktop_2026.jpg 2026w,
              ./images/gallery/gallery_tablet_1408.jpg  1408w,
              ./images/gallery/gallery_mob_560.jpg  560w
            "
            sizes="(min-width:1200px) 1013px, (min-width:768px) 704px, (mix-width:320px) 280px, 100vw"
            src="./images/gallery/gallery_mob_280.jpg"
            alt="Gallery Ice Cream"
            loading="lazy"
          />
    
        </div>
    </div>
     </section>
    