<section class="reviwes section">
    <h2 class="reviwes__title visually-hidden">Customer Reviews</h2>
    <div class="reviwes__container swiper-container">
        <div class="swiper-wrapper">   
                <div class="reviewes__card swiper-slide">
            <img class="reviwes__img" srcset="
            /src/images/reviews/reviws-photo1@1x.jpg 1x,
            /src/images/reviews/reviws-photo1@2x.jpg 2x
          "
          src="/src/images/reviews/reviws-photo1@1x.jpg"
          alt="girl"
          width="85"
          height="85"
          loading="lazy">
            <div class="reviews__block"> 
                <p class="reviews__description">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you     have beautiful serving, cozy atmosphere and polite staff.</p>
            </div>
            <p class="reviews__signature">Emily, Los Angeles</p>
           </div>
           <div class="reviewes__card swiper-slide">
            <img class="reviwes__img" srcset="
            /src/images/reviews/reviws-photo2@1x.jpg 1x,
            /src/images/reviews/reviws-photo2@2x.jpg 2x
          "
          src="/src/images/reviews/reviws-photo2@1x.jpg"
          alt="boy with icecream"
          width="85"
          height="85"
          loading="lazy">
            <div class="reviews__block"> 
                <p class="reviews__description">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
                </p>
            </div>       
            <p class="reviews__signature">Bryan, New-York</p>
           </div>
           <div class="reviewes__card swiper-slide">
            <img class="reviwes__img" srcset="
            /src/images/reviews/reviws-photo3@1x.jpg 1x,
            /src/images/reviews/reviws-photo3@2x.jpg 2x"
          src="/src/images/reviews/reviws-photo3@1x.jpg"
          alt="girl with icecream"
          width="85"
          height="85"
          loading="lazy">
                        <div class="reviews__block"> 
                    <p class="reviews__description">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!
                    </p>
                </div>  
       <p class="reviews__signature">Diana, Chicago</p>
           </div>
        </div>        
        <div class="swiper-pagination"></div> 
           
    </div>
    
</section>