<!-- contacts cards -->
<section class="section contact" id="section-contacts">
  <div class="container">
    <h2 class="visually-hidden">contacts</h2>
    <ul class="contact__card-set">
      <li class="contact__card">
        <div class="contact__header-wrapper">
          <p class="contact__header">CAFE</p>
        </div>
        <!-- address -->
        <address>
          <p class="contact__city">Chicago</p>
          <a
            href="https://www.google.com.ua/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7030976,-87.7798735,50a,35.6y,39.5t/data=!3m1!1e3!4m13!1m7!3m6!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!2s10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90!3b1!8m2!3d41.7034016!4d-87.7797405!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405?hl=ru"
            class="contact__mail-address"
          >
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </address>
        <div class="contact__gray-line"></div>
        <!-- work time -->
        <ul class="contact__shedule">
          <li>
            <p class="contact__work-day">Monday - Friday</p>
            <p class="contact__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contact__work-day">Saturday - Sunday</p>
            <p class="contact__work-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contact__gray-line"></div>
        <!-- contacts data -->
        <ul class="contact__data-wrapper">
          <li>
            <a href="tel:+610383766284" class="contact__data"
              >+61(0) 383 766 284
            </a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contact__data"
              >noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contact__card">
        <div class="contact__header-wrapper">
          <p class="contact__header">FOOD TRUCK</p>
        </div>
        <!-- address -->
        <address>
          <p class="contact__city">Los Angeles</p>
          <a
            href="https://www.google.com.ua/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835263,-118.4125173,715m/data=!3m2!1e3!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286?hl=ru"
            class="contact__mail-address"
          >
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </a>
        </address>
        <div class="contact__gray-line"></div>
        <!-- work time -->
        <ul class="contact__shedule">
          <li>
            <p class="contact__work-day">Monday - Friday</p>
            <p class="contact__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contact__work-day">Saturday - Sunday</p>
            <p class="contact__work-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contact__gray-line"></div>
        <!-- contacts data -->
        <ul class="contact__data-wrapper">
          <li>
            <a href="tel:+610383766284" class="contact__data"
              >+61(0) 383 766 284
            </a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contact__data"
              >noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contact__card">
        <div class="contact__header-wrapper">
          <p class="contact__header">CAFE</p>
        </div>
        <!-- address -->
        <address>
          <p class="contact__city">New York</p>
          <a
            href="https://www.google.com.ua/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726937,-73.9592187,653m/data=!3m2!1e3!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734?hl=ru"
            class="contact__mail-address"
          >
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </a>
        </address>
        <div class="contact__gray-line"></div>
        <!-- work time -->
        <ul class="contact__shedule">
          <li>
            <p class="contact__work-day">Monday - Friday</p>
            <p class="contact__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contact__work-day">Saturday - Sunday</p>
            <p class="contact__work-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contact__gray-line"></div>
        <!-- contacts data -->
        <ul class="contact__data-wrapper">
          <li>
            <a href="tel:+610383766284" class="contact__data"
              >+61(0) 383 766 284
            </a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contact__data"
              >noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contact__buttons">
      <li>
        <button type="button" class="contact__button contact__button--location">
          <span class="contact__button-text">Our Locations</span>
          <svg class="contact__button-arrow" width="12" height="12">
            <use href="./images/icons.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="contact__button contact__button--franchise"
        >
          <span class="contact__button-text">Franchise</span>
          <svg class="contact__button-arrow" width="12" height="12">
            <use href="./images/icons.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
