<footer>
  <div class="container">
    <div class="footer__info">
      <div class="footer__text">
        <p class="footer__text--small">homemade ice cream made</p>
        <p class="footer__text--large">with passion</p>
      </div>
      <div>
        <ul class="footer__socials">
          <li>
            <a
              class="socials__link socials__link--footer"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="іконка github"
            >
              <svg class="socials__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials__link socials__link--footer"
              href="https://web.telegram.org/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="іконка telegram"
            >
              <svg class="socials__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials__link socials__link--footer"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="іконка facebook"
            >
              <svg class="socials__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a href="tel:+610383766284" class="footer__communication"
          >Feel free to contact
          <span class="footer__communication--number">
            +61 (0) 383 766 284</span
          ></a
        >
      </div>
    </div>
  </div>
  <div class="сopyright">
    <p class="сopyright__text">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
