// Header
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  background-color: transparent;
}
.header__container {
  display: flex;
  align-items: flex-end;
  padding-top: 12px;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 8px;
  }
}
.logo {
  width: 40px;
  @media screen and (min-width: 768px) {
    width: 48px;
  }
  @media screen and (min-width: 1200px) {
    width: 60px;
  }
}
.nav {
  display: flex;
  flex-shrink: 0;
}
.nav__list {
  display: none;
  align-items: flex-end;
  margin-left: 308px;
  margin-bottom: 13px;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.nav__item {
  &:not(:last-child) {
    margin-right: 28px;
  }
}
.nav__link {
  padding: 12px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: $text-and-modal-white;
  transition: color $action-total-time $action-cubic-time;

  &:hover,
  &:focus {
    color: $brand-primary-color;
  }
}
.burger__icon {
  fill: $classic-white;
  transition: fill $action-total-time $action-cubic-time;
}
.burger__button {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
  color: $classic-white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover .burger__icon {
    fill: $brand-primary-color;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 5px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.buy-btn {
  display: flex;
  width: 152px;
  height: 42px;
  padding: 12px 35px 12px 36px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: $brand-primary-color;

  transition: background-color $action-total-time $action-cubic-time,
    color $action-total-time $action-cubic-time;

  &:hover {
    background-color: $btn-hover-green;
  }
  &:focus {
    background-color: $btn-hover-green;
    color: $classic-white;
  }
}
.icon-btn-arrow {
  fill: currentColor;
}
.header__buy-btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

// Mobile menu

.menu__container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  text-align: center;

  width: 100vw;
  height: 100vh;
  padding: 12px 31px 64px 31px;
  background-color: $bgc-primary-color;
  z-index: 19;

  transform: translateX(100%);
  transition: transform $action-total-time $action-cubic-time;

  @media screen and (min-width: 768px) {
    padding: 20px 32px;
  }
}
.menu__container.is-open {
  transform: translateX(0);
}
.menu__close-btn {
  position: absolute;
  top: 16px;
  right: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  color: $text-and-modal-white;
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: color $action-total-time $action-cubic-time;

  &:hover {
    color: $text-primary-black;
  }

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }
}
.menu__close-icon {
  fill: currentColor;
}
.menu__list {
  padding-top: 51px;

  @media screen and (min-width: 768px) {
    padding-top: 76px;
  }
}
.menu__item:not(:last-child) {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
.menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);
  color: $text-and-modal-white;

  transition: color $action-total-time $action-cubic-time;

  &:hover,
  &:focus {
    color: $text-primary-black;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);
  }
}
.menu__buy-btn {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
