/* Gallery */

.gallery {
  padding-top: 0;
  padding-bottom: 0;

  background: linear-gradient(
    ($bgc-primary-color) 20%,
    ($bgc-primary-color) 20%,
    transparent 0
  );
}

//   .container {
//     padding-left: 0;
//     padding-right: 0;
//     }

.gallery__img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;

  // @media screen and (min-width: 320px) {
  //     width: 280px;
  // }
  // @media screen and (min-width: 768px) {
  //     width: 704px;
  // }
  // @media screen and (min-width: 1200px) {
  //     width: 1013px;
  // }
}
