<!-- contacts cards -->
<div class="contact">
  <section class="section">
    <div class="container">
      <h2 class="visually-hidden">contacts</h2>

      <ul class="contact__card-set">
        <li class="contact__card">
          <div class="contact__header-wrapper">
            <p class="contact__header">CAFE</p>
          </div>
          <!-- address -->
          <address>
            <p class="contact__city">Chicago</p>
            <p class="contact__mail-address">
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </p>
          </address>
          <div class="contact__gray-line"></div>
          <!-- work time -->
          <ul class="contact__shedule">
            <li>
              <p class="contact__work-day">Monday - Friday</p>
              <p class="contact__work-time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contact__work-day">Saturday - Sunday</p>
              <p class="contact__work-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="contact__gray-line"></div>
          <!-- contacts data -->
          <ul class="contact__data-wrapper">
            <li>
              <a href="tel:+610383766284" class="contact__data"
                >+61(0) 383 766 284
              </a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contact__data"
                >noreply@envato.com
              </a>
            </li>
          </ul>
        </li>
        <li class="contact__card">
          <div class="contact__header-wrapper">
            <p class="contact__header">FOOD TRUCK</p>
          </div>
          <!-- address -->
          <address>
            <p class="contact__city">Los Angeles</p>
            <p class="contact__mail-address">
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </p>
          </address>
          <div class="contact__gray-line"></div>
          <!-- work time -->
          <ul class="contact__work-time">
            <li>
              <p class="contact__work-day">Monday - Friday</p>
              <p class="contact__work-time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contact__work-day">Saturday - Sunday</p>
              <p class="contact__work-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="contact__gray-line"></div>
          <!-- contacts data -->
          <ul class="contact__data-wrapper">
            <li>
              <a href="tel:+610383766284" class="contact__data"
                >+61(0) 383 766 284
              </a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contact__data"
                >noreply@envato.com
              </a>
            </li>
          </ul>
        </li>
        <li class="contact__card">
          <div class="contact__header-wrapper">
            <p class="contact__header">CAFE</p>
          </div>
          <!-- address -->
          <address>
            <p class="contact__city">New York</p>
            <p class="contact__mail-address">
              726 Sterling Pl, Brooklyn, NY 11222, USA
            </p>
          </address>
          <div class="contact__gray-line"></div>
          <!-- work time -->
          <ul class="contact__work-time">
            <li>
              <p class="contact__work-day">Monday - Friday</p>
              <p class="contact__work-time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contact__work-day">Saturday - Sunday</p>
              <p class="contact__work-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="contact__gray-line"></div>
          <!-- contacts data -->
          <ul class="contact__data-wrapper">
            <li>
              <a href="tel:+610383766284" class="contact__data"
                >+61(0) 383 766 284
              </a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contact__data"
                >noreply@envato.com
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="contact__buttons">
        <li>
          <button
            type="button"
            class="contact__button contact__button--location"
          >
            <span class="contact__button-text">Our Locations</span>
            <svg class="contact__button-arrow" width="12" height="12">
              <use href="./images/icons.svg#icon-btn-arrow"></use>
            </svg>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="contact__button contact__button--franchise"
          >
            <span class="contact__button-text">Franchise</span>
            <svg class="contact__button-arrow" width="12" height="12">
              <use href="./images/icons.svg#icon-btn-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </section>
</div>
